In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-03-08 20:22:12,-53.1500,-70.9167,62.60,48,40,29.93
1,1,Vilhena,BR,2021-03-08 20:25:30,-12.7406,-60.1458,71.60,100,75,9.22
2,2,Terney,RU,2021-03-08 20:25:30,45.0503,136.6092,23.13,88,29,5.91
3,3,Sydney Mines,CA,2021-03-08 20:25:31,46.2367,-60.2177,28.99,74,75,9.22
4,4,Albany,US,2021-03-08 20:24:15,42.6001,-73.9662,39.00,25,71,5.93

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Rikitea,PF,2021-03-08 20:24:38,-23.1203,-134.9692,80.83,81,51,12.41
8,8,Cidreira,BR,2021-03-08 20:25:34,-30.1811,-50.2056,78.12,69,2,7.09
14,14,Atuona,PF,2021-03-08 20:25:36,-9.8000,-139.0333,79.25,70,49,12.82
31,31,Saint George,US,2021-03-08 20:22:34,37.1041,-113.5841,75.00,12,1,24.16
32,32,Vaini,TO,2021-03-08 20:25:44,-21.2000,-175.2000,77.00,69,75,11.50
34,34,Kapaa,US,2021-03-08 20:25:45,22.0752,-159.3190,75.20,73,90,24.16
36,36,Ixtapa,MX,2021-03-08 20:25:46,20.7000,-105.2000,80.60,61,1,11.50
37,37,Grand Gaube,MU,2021-03-08 20:25:46,-20.0064,57.6608,77.00,80,0,1.99
38,38,Touros,BR,2021-03-08 20:25:47,-5.1989,-35.4608,84.20,65,20,10.36
41,41,Mersing,MY,2021-03-08 20:25:48,2.4312,103.8405,78.80,83,70,9.22

In [14]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
7        Rikitea      PF     80.83 -23.1203 -134.9692
8       Cidreira      BR     78.12 -30.1811  -50.2056
14        Atuona      PF     79.25  -9.8000 -139.0333
31  Saint George      US     75.00  37.1041 -113.5841
32         Vaini      TO     77.00 -21.2000 -175.2000
34         Kapaa      US     75.20  22.0752 -159.3190
36        Ixtapa      MX     80.60  20.7000 -105.2000
37   Grand Gaube      MU     77.00 -20.0064   57.6608
38        Touros      BR     84.20  -5.1989  -35.4608
41       Mersing      MY     78.80   2.4312  103.8405

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Rikitea,PF,80.83,-23.1203,-134.9692,Pension Maro'i
8,Cidreira,BR,78.12,-30.1811,-50.2056,Hotel Castelo
14,Atuona,PF,79.25,-9.8000,-139.0333,Villa Enata
31,Saint George,US,75.00,37.1041,-113.5841,Best Western Plus Abbey Inn
32,Vaini,TO,77.00,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...
561,Merauke,ID,76.93,-8.4667,140.3333,PC
562,Meulaboh,ID,75.45,4.1363,96.1285,Kost Pria
568,Camopi,GF,80.13,3.1655,-52.3158,
569,Santiago De Las Vegas,CU,75.20,22.9700,-82.3869,Bella Vista Miramar
570,Ouesso,CG,77.02,1.6136,16.0517,Hôtel ABENI

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))